<html>

<body style="color: black; background-color: #f6f9f6; font-family: Glacial Indifference, sans-serif">
  <center style="background-color: #f6f9f6">
    <div style="background-color: white; width: fit-content">
      <div style="background-color: #0D2039; height: 20px" />
      <div style="color: #0D2039; padding: 15px 15px 0 15px">
        <span style="font-size: 72px">
          Orion
        </span>
      </div>
      <div style="padding: 0 30px 1px 30px">
        <p style="font-size: 18px">
          Utilize o codigo abaixo para confirmar o seu email.
        </p>
        <div
          style="background-color: whitesmoke; width: fit-content; text-align: left; padding: 10px; border-radius: 10px; max-width: 600px">
          <span style="font-size: 1.2rem">{{secret}}</span>
        </div>
        <p style="font-size: 16px">
          Por favor não responda a este e-mail.
        </p>
      </div>
    </div>
  </center>
</body>

</html>